
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SeaPORT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="text-align: center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/analista/inicio">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/analista/servicios">Servicios</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/analista/entidad">Entidad Fisica</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/analista/generar">Generar Servicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/analista/generados">Servicios Generados</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/analista/asignados">Servicios Asignados</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/analista/informes">Informes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/analista/estadisticas">Datos Estadisticos</a>
        </li>
      </ul>
    </div>
  </nav>