<app-nav-analista></app-nav-analista>
<div class="container-fluid my-3">
<div class="contenedor p-3 animated zoomIn">

	<h3>Inicio</h3>
	<hr>
	<section class="informacion">
		<div class="row">
			<div class="col-md-4 my-2">
				<div class="contInfo">
					<div class="contIcono float-left bg-success">
						<i class="fas fa-portrait" id="icono"></i>
					</div>
					<div class="contTexto float-right">
						<p class="numero">4</p>
						<p class="titulo">PROVEEDORES</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 my-2">
				<div class="contInfo">
					<div class="contIcono float-left bg-primary">
						<i class="fas fa-clipboard" id="icono"></i>
					</div>
					<div class="contTexto float-right">
						<p class="numero">5</p>
						<p class="titulo">GENERADOS</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 my-2">
				<div class="contInfo">
					<div class="contIcono float-left bg-danger">
						<i class="fas fa-clipboard-check" id="icono"></i>
					</div>
					<div class="contTexto float-right">
						<p class="numero">3</p>
						<p class="titulo">ASIGNADOS</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>
	<section class="ultimas">
		<h4 class="text-center">Ultimas Novedades</h4><br>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered">
					<thead>
						<th>Referencia</th>
						<th>Fecha</th>
						<th>Hora</th>
					</thead>
					<tbody>
						<tr>
							<td>23213</td>
							<td>12/09/2019</td>
							<td>12:00</td>
						</tr>
						<tr>
							<td>23213</td>
							<td>12/09/2019</td>
							<td>12:00</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<table class="table table-bordered">
					<thead>
						<th>Referencia</th>
						<th>Fecha</th>
						<th>Hora</th>
					</thead>
					<tbody>
						<tr>
							<td>23213</td>
							<td>12/09/2019</td>
							<td>12:00</td>
						</tr>
						<tr>
							<td>23213</td>
							<td>12/09/2019</td>
							<td>12:00</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</div>
</div>